.table_line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #E0E0E0;
}

.entry,
.exit {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
}

.entry {
    color: var(--entry);
}

.exit {
    color: var(--exit);
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.delete_container {
    position: relative;
}