* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --cold-line-gradient: linear-gradient(to right, #05EDE3, #6460FB);
    --hot-line-gradient: linear-gradient(to right, #FA8C10, #FF57D3);
    --main-purple: #6460FB;
    --entry: #645FFB;
    --exit: #FA8C10;
    --balance: #3A9FF1;
    font-family: 'Rubik', sans-serif;
}

.containers {
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0px 2px 11px 0px #0000001A;
}